@charset "utf-8";
.carousel {
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 90px;
}
.navbar.navbar-default.navbar-fixed-top {
	font-size: x-large;
	margin-top:0px;
	margin-bottom:0px;	
}
.pictures img {
    padding-right: 5px;
    padding-left:  10px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.pictures {
    padding-left: 9%;
}
body {
	background-color:  #0A1B7F;
    padding-bottom: 70px;
}
.pictures-main {
    padding-left: 1%;
}
.pictures-main img {
    padding-right: 5px;
    padding-left:  10px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.navbar-header .navbar-brand img {
	margin-top: -13px;
}
body p {
	color: #FFFFFF;
	font-size: large;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 10px;
    text-align: center;
}
h1 {
    text-align: center;
    text-decoration: underline;
}
.navbar-fixed-bottom {
	width: 99.5%;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	background-color: #000000;
	color: #FFFFFF;
}
.footer {
	width: 45%;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}
.formDiv {
	color: #FFFFFF;
	margin-left: 2%;
}
.thankYou {
	color: #FFFFFF;
	margin-left: 37%;
}
